@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/Poppins-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/Poppins-Regular.ttf");
  font-weight: 400;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: "Poppins", "Verdana", sans-serif;
  background-color: #F6F7FF;
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 200%;
}

h1 {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
}

h2 {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: left;
  margin-top: 30px;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.site-wrapper {
  width: 1170px;
  margin: 0 auto;
}

._wrapper {
  min-height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.primary-color {
  background-color: #4A63E7;
}

.additional-color {
  background-color: #FF5959;
}

.transparent-color-with-border {
  background-color: transparent;
  border: solid 1px #FFFFFF;
}

.light-color {
  background-color: #FFFFFF;
  color: #000000;
}

.shadow-dark {
  -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.2);
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.button {
  border-radius: 100px;
  padding: 12px 26px;
}

.transparent-color-with-border.button:hover {
  color: #000000;
  background: #FFFFFF;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2);
}

.additional-color.button:hover {
  color: #FFFFFF;
  background: #4A63E7;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2);
}

.dot:after {
  content: "";
  background-color: #FF5959;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  height: 8px;
  width: 8px;
}

.section-title:after {
  content: "";
  background: #FF5959;
  border-radius: 25px;
  display: block;
  height: 5px;
  margin-top: 14px;
  width: 30px;
}

.header {
  position: fixed;
  top: 50px;
  width: 275px;
  min-height: 580px;
  max-height: 580px;
  border-radius: 20px;
  padding: 30px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.yuliya-photo {
  border-radius: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 10px;
}

.main-top-title.dot:after {
  height: 13px;
  width: 13px;
}

.site-slogan {
  font-size: 0.75rem;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-main {
  padding-top: 30px;
  font-size: 0.9rem;
  line-height: 250%;
}

.nav-main span {
  margin-right: 20px;
}

.main {
  margin-top: 50px;
  margin-bottom: 50px;
}

.main-top {
  border-radius: 20px 20px 20px 20px;
  min-height: 580px;
  max-width: 860px;
  margin-bottom: 50px;
}

.main-top-content {
  padding: 140px;
}

.main-top-title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 100%;
}

.main-top-description {
  margin: 20px 0;
}

.buttons {
  margin-top: 40px;
}

.buttons a {
  margin-right: 20px;
}

.button span {
  margin-right: 20px;
}

.summary {
  border-radius: 20px 20px 20px 20px;
  min-height: 580px;
  max-width: 860px;
  margin-bottom: 50px;
  padding: 65px 40px 60px 40px;
}

.skills {
  border-radius: 20px 20px 20px 20px;
  min-height: 580px;
  max-width: 860px;
  margin-bottom: 50px;
  padding: 65px 40px 60px 40px;
}

.projects {
  border-radius: 20px 20px 20px 20px;
  min-height: 580px;
  max-width: 860px;
  margin-bottom: 50px;
  padding: 65px 40px 60px 40px;
}

.experience {
  border-radius: 20px 20px 20px 20px;
  min-height: 580px;
  max-width: 860px;
  margin-bottom: 50px;
  padding: 65px 40px 60px 40px;
}

.education {
  border-radius: 20px 20px 20px 20px;
  min-height: 580px;
  max-width: 860px;
  margin-bottom: 50px;
  padding: 65px 40px 60px 40px;
}

.languages {
  border-radius: 20px 20px 20px 20px;
  min-height: 580px;
  max-width: 860px;
  margin-bottom: 50px;
  padding: 65px 40px 60px 40px;
}

.footer {
  border-radius: 20px 20px 20px 20px;
  max-width: 860px;
  padding: 40px 50px;
  margin-bottom: 50px;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40px;
}
