//// VARIABLES /////////////////////////////////////////////////

$color-background: #F6F7FF;
$color-range-line: #EBEBEB;
$color-primary: #4A63E7;
$color-additional: #FF5959;
$color-disabled: #939393;
$color-light: #FFFFFF; 
$color-dark: #000000;
$color-grey: #777777;

$font-h1: 1.4rem;
$font-h2: 1.6rem;
$font-h3: 1.2rem;
$font-default: 1rem;
$font-slogan: 0.75rem;
$font-menu: 0.9rem;
$font-title: 4rem;

//// FONTS /////////////////////////////////////////////////////

@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/Poppins-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/Poppins-Regular.ttf");
  font-weight: 400;
}

//// GENERAL ///////////////////////////////////////////////////

*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: "Poppins", "Verdana", sans-serif;
  background-color: $color-background;
  color: $color-light;
  font-size: $font-default;
  line-height: 200%;
  scroll-behavior: smooth; 
}

h1 {
	font-size: $font-h1;
  font-weight: 700;
	text-align: center;
	margin-top: 30px;
}

h2 {
	font-size: $font-h2;
  font-weight: 700;
	text-align: left;
	margin-top: 30px;
}

h3 {
	font-size: $font-h3;
  font-weight: 700;
}

h4 {
	font-size: $font-h3;
  font-weight: 700;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: $color-additional;
}

.site-wrapper {
  width: 1170px;
  margin: 0 auto;
}

._wrapper {
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.primary-color {
  background-color: $color-primary;
}

.additional-color {
  background-color: $color-additional;
}

.transparent-color-with-border {
  background-color: transparent;
  border: solid 1px $color-light;
}

.light-color {
  background-color: $color-light;
  color: $color-grey;
}

.text-dark {
  color: $color-dark;
}

.shadow-dark {
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.2);
}

.shadow-blue {
  box-shadow: 0px 6px 15px 0px rgba(74, 99, 231, 0.1);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.button {
  border-radius: 100px;
  padding: 12px 26px;
}

.transparent-color-with-border.button:hover {
  color: $color-dark;
  background: $color-light;
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
}

.additional-color.button:hover {
  color: $color-light;
  background: $color-primary;
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
}

.dot:after {
  content: "";
  background-color: $color-additional;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  height: 8px;
  width: 8px;
}

.section {
  border-radius: 20px 20px 20px 20px;
  max-width: 860px;
  margin-bottom: 50px;
  padding: 65px 50px 60px 50px;
  font-size: $font-menu;
  line-height: 150%;
}

.section-title {
  color: $color-dark;
}

.section-title:after {
  content: "";
  background: $color-additional;
  border-radius: 25px;
  display: block;
  height: 5px;
  margin-top: 14px;
  width: 30px;
}


//// HEADER ////////////////////////////////////////////////////

.mobile-header {
  margin-top: 24px;
  border-radius: 20px;
  display: none;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
}

.menu-icon {
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  vertical-align: middle;
  padding: 0;
  margin-right: 8px;
}

.mobile-header span:nth-child(2) {
  margin-top: 4px;
  margin-bottom: 4px;
}

.mobile-header span {
  background: $color-light;
  border-radius: 10px;
  display: block;
  height: 4px;
  width: 25px;
}

.mobile-title {
  font-size: $font-h2;
  font-weight: 700;
}

.header {
  position: fixed;
  top: 50px;
  width: 275px;
  min-height: 600px;
  max-height: 600px; 
  border-radius: 20px;
  padding: 30px;
  color: $color-light;

  display: flex;
  flex-direction: column;

  transition: all 0.3s ease-in-out;
}

.yuliya-photo {
  border-radius: 100%;
}

.not-mobile {
  align-self: center;
  margin-top: 10px;
}

.main-top-title.dot:after {
  height: 13px;
  width: 13px;
}

.site-slogan {
  font-size: $font-slogan;
  text-transform: uppercase;
  align-self: center;
}

.nav-main {
  padding-top: 30px;
  font-size: $font-menu;
  line-height: 250%;
}

.nav-main span {
  margin-right: 20px;
}


//// MAIN //////////////////////////////////////////////////////

.main {
  margin-top: 50px;
  margin-bottom: 50px;
  transition: all 0.3s ease-in-out;
}

.main-top {
  min-height: 600px;
}

.main-top-content {
  padding: 140px;
}

.main-top-title {
  font-size: $font-title;
  font-weight: 700;
  line-height: 100%;
}

.main-top-description {
  margin: 20px 0;
}

.buttons {
  margin-top: 40px;
}

.buttons a {
  margin-right: 20px;
}

.button span {
  margin-right: 20px;
}

.summary {
  min-height: 580px;
}

.summary-content {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.summary-photo {
  align-self: flex-start;
}

.summary-text p {
  margin-bottom: 20px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacts li {
  min-width: 285px;
  margin-bottom: 10px;
}

.skills {
  min-height: 580px;
}

.cards-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
}

.skills-card-item {
  width: 240px;
}

.card-item {
  display: inline-block;
  border: solid 1px $color-range-line;
  border-radius: 10px;
  padding: 30px 20px;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.card-item:hover {
  border: none;
  background-color: $color-additional;
  border: solid 1px $color-additional;
  color: $color-light;
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.2);
}

.card-item:hover > span,
.card-item:hover > h3 {
  color: $color-light;
}

.card-item span {
  font-size: $font-h2;
  color: $color-additional;
  margin-bottom: 20px;
}

.card-title {
  margin: 16px auto;
  color: $color-dark;
}

.projects {
  min-height: 580px;
}

.list-of-projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
}

.project-item {
  display: inline-block;
  max-width: 370px;
  border-radius: 10px;
  padding: 30px 20px;
  transition: all 0.3s ease-in-out;
}

.thumb {
  max-height: 200px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  img {
    width: 130%;
    transform: translate(-30px, 0) scale(1);
    transition: all 0.3s ease-in-out;
  }
}

.thumb:hover {
  box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.15);
  img {
    transform: scale(1.2);
  }
}

.crumbs {
  border-radius: 50px;
  background: $color-additional;
  color: $color-light;
  font-size: 12px;
  padding: 1px 8px;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 1;
}

.crumbs:hover {
  background: $color-primary;
  color: $color-light;
}

.project-title {
  margin: 16px auto;
  color: $color-dark;
}

.project-list {
  display: flex;
}

.project-item-data {
  margin-right: 16px;
}

.project-item-data:after {
  content: "";
  background: $color-additional;
  border-radius: 100%;
  display: inline-block;
  height: 3px;
  margin-left: 1rem;
  vertical-align: middle;
  width: 3px;
}

.code-example {
  min-height: 530px;
}

.code-example-kata {
  margin-top: 40px;
}

.experience {
  min-height: 580px;
}

.timeline {
  position: relative;
  padding-top: 70px;
  margin-top: 60px;
}

.timeline:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-item {
  clear: both;
  position: relative;
}

.timeline-date {
  float: left;
  width: 20%;
  position: relative;
}

.timeline-date:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid $color-additional;
  background-color: $color-light;
  border-radius: 100%;
  padding: 4.5px;
  top: 15%;
  right: -8px;
  z-index: 1;
}

.timeline-description {
  float: right;
  margin: 0 0 6em;
  padding-left: 60px;
  width: 80%;
}

.timeline-description h4 {
  color: $color-dark;
  margin-bottom: 10px;
}

.timeline-line {
  position: absolute;
  top: 0px;
  left: calc(20% + 2px);
  bottom: 0px;
  width: 1px;
  background: $color-additional;
}

.timeline-line::before, .timeline-line::after {
  content: "";
  display: block;
  border-radius: 100%;
  background: $color-additional;
  position: absolute;
  left: -3px;
  height: 7px;
  width: 7px;
}

.timeline-line::before {
  top: 0;
}

.timeline-line::after {
  bottom: 0;
}

.education{
  min-height: 580px;
}

.languages {
  min-height: 580px;
}

.languages-card-item {
  width: 360px;
}

.presentation {
  margin: 40px auto 20px auto;
  text-align: center;
}

//// FOOTER ////////////////////////////////////////////////////

.footer {
  border-radius: 20px 20px 20px 20px;
  max-width: 860px;  
  padding: 40px 50px;
  margin-bottom: 50px;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
}

//// MEDIA /////////////////////////////////////////////////////

@media only screen and (max-width: 991px) {

  .site-wrapper {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}

  .float-left {
    float: none;
  }
  
  .float-right {
    float: none;
  }

  .section {
    max-width: 100%;
    padding: 65px 30px 60px 30px;
  }

  .header {
    display: none;
  }

  .mobile-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 9px 16px;
  }

  .main {
    margin-top: 20px;
  }

  .summary-content {
    flex-direction: column;
  }

  .cards-list {
    justify-content: center;
  }

  .list-of-projects {
    align-items: center;
    justify-content: center;
  }

  .project-item {
    padding: 20px 0;
  }

  .thumb {
    img {
      width: 135%;
    }
  }
  
  .thumb:hover {
    img {
      transform: scale(1.3);
    }
  }

}

@media only screen and (max-width: 767px) {

  .main-top-content {
		padding: 140px 0;
	}

  .card-item {
    padding: 20px 10px;
  }

  .card-title {
    margin: 4px auto;
  }

  .skills-card-item {
    width: 100%;
  }

  .languages-card-item {
    width: 100%;
}

}

